h1{

padding: 50px;
text-transform: capitalize;
font-family: monospace;
background-image: linear-gradient(to left,rgb(57, 185, 185),rgb(100, 146, 73));
width:fit-content;
border-radius: 14px;
background-size:9900px;


}
h2{
text-transform: capitalize;
font-family: monospace;
font-size: 50px;

}
h1{

animation: infinite 2s adam;


}
@keyframes adam {
    
0%{
background-position: 0% 100%;

}
50%{
    background-position: 100% 0%;
}
100%{
    background-position:0% 100% ;
}


}
.video1{

border-radius: 30px ;width: 100%;height: auto;

}
.video2{

border-radius: 30px ;width: 100%;height: auto;



}
.video3{
    border-radius: 30px ;width: 100%;height: auto;
}